@using System.Reflection.Metadata
@{
    ViewData["Title"] = "Privacy Policy";
}

<header class="masthead" style="background-image: url('/img/privacy-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row"> 
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>@ViewData["Title"]</h1>
                   
                </div>
            </div>
        </div>
    </div>
</header>
<body style="text-align: center;color: #9C27B0">
<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Use this page to detail your site's privacy policy.</p>
    </div>
</div>
</body>

