<div class="container">
    <p style="color: aliceblue;text-align: center">If you are Admin please go to the login page</p>
    <button type="button" onclick='window.location = "@Url.Action("LoginPage", "Admin")"' class="btn btn-secondary">I am Admin</button>
    <button type="button" onclick='window.location = "@Url.Action("Index", "Home")"' class="btn btn-secondary">I am User</button>
</div>
