@{
    ViewData["Title"] = ":(";
}
<body>
    <div class="container" style="color: turquoise">
        <p>
            Sorry :( Page Not Found. Please return to the
            <a href="Home">homepage</a>
        </p>
    </div>
</body>