@{
    ViewData["Title"] = "Login";
}
<header class="masthead" style="background-image: url('/img/login-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <p style="color: azure">Welcome to the Login Page.</p>
                    <p style="color: azure">If username or password is invalid the page will be refreshed.</p>
                    <li class="list-inline-item col-lg-10" style="margin-top: 10%">
                        <form method="POST" action="/Admin/LoginPage" autocomplete="off">
                            <div class="form-group">
                                <input type="text" class="form-control" name="Email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="Password" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary align-items-center">Login</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>